<div class="container-fluid">
        <h2 class="text-center">Create a new Goal</h2>
        <br><hr><br>
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            
            <div class="form-group">
      
                <label for="name">Quote : </label>
                <textarea class="form-control" id="name" #name="ngModel" rows="4" [(ngModel)]="newQuote.name" name="name" required></textarea>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>Insert a quote</p>
                </div>
      
            </div>

            <div class="form-group">
      
                <label for="author">Author : </label>
                <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" #author="ngModel" author="author">
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p>Author name is required</p>
                </div>
          
            </div>
            
            <div class="form-group">
      
                <label for="publisher">Publisher : </label>
                <input type="text" required class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" #publisher="ngModel" publisher="publisher">
                <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                    <p>Publisher name is required</p>
                </div>
              
            </div>

            <button type="submit" class="btn btn-success" id="addQuotebtn" [disabled]="quoteForm.invalid">Add Quote</button>
        </form>
      </div>